<!DOCTYPE html>
<html>

<head>
    <title>BD Animes</title>
</head>

<body>
    <div class="container p-1 m-3 w-25">
        <h1>Formulario de Animes</h1>
    </div>
    <div class="container form-anime border border-dark mb-3 m-3 p-3 w-25 shadow-lg p-3 mb-5 bg-body rounded">
        <form action="/create" method="GET">
            <div class="form-label fs-4 mb-3 mx-3"><label for="nombre">Nombre:</label></div>
            <input type="text" id="nombre" class="mb-3 ms-3 border border-transparent rounded bg-transparent" name="nombre"><br>
            <div class="form-label fs-4 mb-3 mx-3"><label for="genero">Genero:</label></div>
            <input type="text" id="genero" class="mb-3 ms-3 border border-transparent rounded bg-transparent" name="genero"><br>
            <div class="form-label fs-4 mb-3 mx-3"><label for="año"> Año:</label></div>
            <input type="number" id="año" class="mb-3 ms-3 border border-transparent rounded bg-transparent" name="año"><br>
            <div class="form-label fs-4 mb-3 mx-3"><label for="autor">Autor:</label></div>
            <input type="text" id="autor" class="mb-3 mx-3 border border-transparent rounded bg-transparent" name="autor"><br>
            <input type="submit" value="Crear Anime" class="mt-2 mx-3 btn btn-outline-dark btn-lg">
        </form>
    </div>
    <hr>
    <div class="container p-1 m-3 w-25">
        <h2>Lista de Animes:</h2>
    </div>

    {{#each animes}}
    <div class="container-fluid d-flex flex-wrap m-2">
        <div class="col-sm-6">
            <div class="card bg-dark bg-gradient text-light">
                <div class="card-body">
                    <h5 class="card-title">
                        <p>Nombre: {{this.nombre}}</p>
                    </h5>
                    <p class="card-text">Género: {{this.genero}}</p>
                    <p class="card-text">Año: {{this.año}}</p>
                    <p class="card-text">Autor: {{this.autor}}</p>
                </div>
            </div>
        </div>
        <hr>
        {{/each}}
</body>

</html>