body {
    background: linear-gradient(to right, #649173, #dbd5a4);
    font-family: 'Mynerve', cursive;
}

.form-anime {
    background: linear-gradient(to right, #5d4157, #a8caba)
}

.input {
    border: black, solid !important;
}